@model IEnumerable<PizzaWebAppAuthentication.Models.AppModels.Ingredient>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Ingredients</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>PortionGrams</th>
            <th>Availability</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price.ToString("C2")
                </td>
                <td>
                    @item.PortionGrams
                </td>
                <td>
                    @item.Availability
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="confirmDeletion">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
