@using PizzaWebAppAuthentication.Areas.Identity.Pages.Account.Manage
@model PizzaWebAppAuthentication.Models.ViewModels.CartViewModel


<h2>Cart</h2>



@if (Model.Items == null || Model.Items.Count == 0)
    {
            <p>Корзина пуста</p>
    }
   else
   {  
      <table class="table">
         <thead>
              <tr>
                  <th>Pizza</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              @foreach (var item in Model.Items)
              {
                      <tr>
                          <td>@item.Key.Name</td>
                          <td>@item.Key.Price</td>
                          <td>
                              <form asp-action="UpdateCart" method="post">
                                  <div class="form-group">
                                      <input type="hidden" name="pizzaId" value="@item.Key.Id" />
                                      <input type="number" name="quantity" value="@item.Value" min="1" max="10" />
                                      <button type="submit" class="btn btn-sm btn-primary">Обновить</button>
                                  </div>
                              </form>
                          </td>
                          <td>@(item.Key.Price * item.Value)</td>
                          <td>
                              <form asp-action="RemoveFromCart" method="post">
                                  <input type="hidden" name="pizzaId" value="@item.Key.Id" />
                                  <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                              </form>
                          </td>
                      </tr>
              }
          </tbody>
          <tfoot>
              <tr>
                  <th colspan="3">Итого:</th>
                  <th>@Model.TotalPrice</th>
                  <th></th>
              </tr>
          </tfoot>
      </table>
   }

<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Продолжить покупки</a>
    <a asp-action="Checkout" class="btn btn-primary">Оформить заказ</a>
</div>